<div
  class="d-flex flex-column w-80 border border-dark rounded-top my-3 blogPost"
  data-id="{{id}}"
>
  <div
    class="container-fluid titleBox border border-dark rounded-top"
  >
    <div class="p-2 entryTitle"><h2>{{title}}</h2></div>
    <div class="px-2 text-light entryInfo">Created
      {{#if user.user_name}}
        By
        <b>{{user.user_name}}</b>
      {{/if}}
      on
      {{formatDate createdAt}}</div>
  </div>
  <div class="container-fluid p-3 entryContent">
    {{content}}
  </div>
  <div>
    {{> comment}}
  </div>
</div>